@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  overflow-x: hidden;
}

/* 스크롤바 디자인 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}